.array__line {
  display: flex;
  flex-direction: row;
  list-style: none;
  
  &__item {
    width: 0;
    @include typographies(body);
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    padding: 8px 4px;
  }

  &__item:nth-child(odd) {
    background-color: rgba($color: #15b163, $alpha: 0.2);
  }
}