.employees {
  min-height: fit-content;
  height: 0;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include typographies(header);
    margin: 40px 0 8px;
  }
}
