.employees {
  min-height: fit-content;
  height: 0;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px $desktop-margin 56px;
  gap: 8px;

  &__title {
    @include typographies(header);
  }
}

@include tablet {
  .employees {
    padding: 40px $mobile-margin 56px;
  }
}
