.home {
  min-height: fit-content;
  height: 0;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include typographies(header);
    margin: 40px 0 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    &__input-container {
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 256px;

      &__label {
        @include typographies(body);
      }

      &__text-input {
        @include input();
      }

      &__date-container {
        position: relative;
      }

      &__date-input {
        @include input();
      }

      &__date-logo {
        width: 16px;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
      }

      &__select-input {
        @include input($neutral-primary);
      }

      &__error {
        @include typographies(body-italic);
        color: $error-primary;
      }
    }

    &__address-fieldset {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 24px 28px;
      border: 2px solid $highlight-primary;
      border-radius: 8px;

      &__legend {
        @include typographies(body);
        padding: 0 8px;
      }
    }

    &__submit-button {
      @include typographies(body-bold);
      color: $basic-white;
      width: fit-content;
      padding: 8px 24px;
      margin: 16px 0 48px;
      border-radius: 8px;
      border: none;
      outline: none;
      background-color: $highlight-primary;
      cursor: pointer;

      &:hover {
        transition: all 0.2s ease-in-out;
        background-color: $highlight-secondary;
      }
    }
  }
}
